@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<body style="background-color:#600202">
    <div class="container">
        <h2 class="text-white">Manage your account</h2>
    </div>
    <div class="container text-white">
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="signup-form">
                @RenderBody()
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
