@model BloodDonationApp.Web.ViewModels.BloodBank.AllHospitalBloodBagsViewModel

@{ ViewData["Title"] = "BloodBank Condition"; }

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div>
    <div>
        <hr class="bg-success" style="height: 2px" />
        <h4 class="text-md-left">Hospital: @this.User.Identity.Name.</h4>
        <h4 class="text-md-left"></h4>
        <h4 class="text-md-left"></h4>
        <table><tr height=20px></tr></table>
    </div>
    @await Html.PartialAsync("_BloodBankCondition")
</div>

@*<partial name="_BloodBankCondition">*@

<div class="text-center">
    <a class="btn btn-success" asp-controller="Recipients" asp-action="AllHospRecip">Back All Recipients</a>
</div>
