@model BloodDonationApp.Web.ViewModels.Request.RequestInfoViewModel
@{
    ViewData["Title"] = "Create";
}

<form asp-are asp-controller="DonationEvents" asp-action="Create" method="post">
    <h4>Donate blood save live!</h4>
    <button type="submit" class="btn btn-primary">DONATE</button>
</form>