@model BloodDonationApp.Web.ViewModels.Request.RequestInfoViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <form asp-are asp-controller="DonationEvents" asp-action="Create" method="post">
        <h4>Donate blood save live!</h4>
        <button type="submit" class="btn btn-primary">DONATE</button>
    </form>
</div>

@section Links {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://ncth.bg/kak-da-pomogna/izsledvaniya">Examinations for donated blood</a>
    </li>
}
