@model BloodDonationApp.Web.ViewModels.Message.MessageInputViewModel
@{
    ViewData["Title"] = "Contact us";
}

<div class="py-5">
    <h2 class="text-center">Contac Us</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 pb-5">
            <form asp-controller="Messages" asp-action="CreateMessage" method="post">
                <div class="card border-primary rounded-0">
                    <div class="card-header p-0">
                        <div class="bg-info text-white text-center py-2">
                            <h3>
                                <i class="fa fa-envelope"></i> Send message to Administration
                            </h3>                            
                        </div>
                    </div>
                    <div class="card-body p-3">

                        <!--Body-->                        
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input asp-for="@Model.Email" class="form-control" placeholder="Enter your email..." />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                                </div>
                                <textarea asp-for="@Model.Content" class="form-control" placeholder="Enter your message..." required></textarea>                                
                                <span asp-validation-for="@Model.Content" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Send" class="btn btn-info btn-block rounded-0 py-2">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



